body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #d05555;*/
  /*color: #ffffff;*/
  font-size: 16px;
  line-height: 1.4;
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  h3 {
    font-size: 52px;
    margin: 0;
  }
}

.pomodoro {
  text-align: center;
}