.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.task {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #ea8989;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.task_done {
  background-color: #e87272;
  color: darkgray;
  text-decoration: line-through;
}

.line {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 12px 0;
}